/* Common Styles goes here for header Nav and Footer Goes here*/


/* Authors : Venkata Sandeep Reddy Sabbella
             Pavan Kumar Reddy Vuyyuru
             Rithvik Varma Thotakura
             Rajesh Jyoti Samrat
*/

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    background-color: #000;
}

header {
    background-color: #000;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0px;
}

#container {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    height: 100%;
    max-width: 20%;
    padding-left: 0.5em;
}

.logo-image {
    height: 100%;
}

.site-title {
    color: #fff;
    letter-spacing: 3.25px;
    padding: 8px;
    width: 60%;
    text-align: center;
    font-style: italic;
    max-width: 75%;
}

.home-link {
    text-decoration: none;
    color: #fff;
}

.home-link:hover,
.home-link:active {
    text-decoration: none;
    color: #fff;
}

.ls-page {
    max-width: 20%;
    padding: 8px;
    display: flex;
    align-items: center;
}

.ls-page a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.ls-page a {
    display: flex;
    align-items: center;
}

.svg-icons {
    height: 35px;
}

.navbar {
    height: fit-content;
    top: 100px;
    position: relative;
    background-color: #f1f1f1;
}

.navbar-links a {
    padding: 0px 30px;
}

.navbar-links a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
}

.navbar-links a:hover {
    outline: 2px solid #000;
    outline: 2px solid #000;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.main-container {
    top: 100px;
    width: 80%;
    margin: 3em auto;
    position: relative;
    background-color: #f1f1f1;
    padding: 2em;
    border-radius: 20px;
}

footer {
    background-color: #000;
    bottom: 0px;
    width: 100%;
    position: relative;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    height: 50px;
    border-top: 0.2px solid #f1f1f1;
    margin-top: 10em;
}

.footer-link-list {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}

.footer-list-items {
    padding: 0px 20px;
}

.footer-links {
    color: #fff;
    text-decoration: none;
}

.footer-links:hover {
    cursor: pointer;
}

.footer-copyright {
    color: #fff;
    cursor: text;
}

header,
footer {
    z-index: 1;
    max-width: 100%;
}

.ls-page-mobile-tablet {
    display: none;
}

.active-button {
    background-color: #000;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    text-decoration: none;
    white-space: nowrap;
}

.active-button:hover {
    opacity: 0.8;
}

button:hover {
    opacity: 0.8;
}

.mobileNav-specific {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------Styles for Mobile Layout ------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@media all and (min-width:320px) and (max-width:480px) {
    .header-logo {
        display: none;
    }
    .site-title {
        width: 90%;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .header {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* For Navbar my acoount */
    #profile-container {
        width: 100%;
        align-items: stretch;
        flex-direction: column;
    }
    button {
        margin-bottom: 0.5rem;
    }
    .mobileNav-specific {
        display: block;
    }
    .ls-page {
        display: none;
    }
    .navbar-links {
        display: none;
        flex-direction: column;
        position: static;
        width: 100%;
        background-color: #f1f1f1;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .navbar-links a {
        color: #000;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 2;
        padding: 10px 29px;
    }
    .hamburger {
        display: inline-block;
        color: #fff;
        padding: 5%;
    }
}


/* ---------------------------------------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------Styles for Tablet Layout ----------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@media all and (min-width:481px) and (max-width:768px) {
    .header-logo {
        height: 100%;
        max-width: 20%;
        padding-left: 0em;
    }
    .logo-image {
        height: 90%;
        max-width: 100%;
    }
    .ls-page {
        display: none;
    }
    .ls-page-mobile-tablet {
        display: block;
        width: 10%;
    }
    .site-title {
        letter-spacing: 1.25px;
        width: 70%;
        font-size: 14px;
        padding: 0px 5px;
    }
    header {
        display: flex;
        align-items: center;
        height: 100px;
        max-width: 100%;
    }
    .navbar-links a {
        font-size: 14px;
        padding: 0px 5px;
    }
    .navbar-links {
        display: flex !important;
    }
    .mobileNav-specific {
        display: block;
    }
    .ls-page {
        display: none;
    }
}


/* Styles for Footer till certain breakpoint to look fair*/

@media all and (min-width:320px) and (max-width:652px) {
    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .footer-copyright {
        padding-bottom: 1.5em;
        text-align: center;
    }
    .footer-list-items {
        padding: 0px 10px;
    }
    .ls-page {
        display: none;
    }
    .ls-page-mobile-tablet {
        display: block;
    }
}