/* Styles goes here */


/* Authors : Venkata Sandeep Reddy Sabbella
             Pavan Kumar Reddy Vuyyuru
             Rithvik Varma Thotakura
             Rajesh Jyoti Samrat
*/


/*------------------------------------------------------- Login Page CSS Starts Here ------------------------------------------------------------*/

#login-form {
    width: 50%;
    top: 100px;
    margin: 30px auto;
}

.form-container {
    padding: 3rem;
}

#login-form {
    border: 2px solid #000;
    position: static;
    border-radius: 25px;
}

.page-title {
    margin: 0px auto;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=url],
input[type=email],
input[type=number],
input[type=tel],
input[type=radio],
input[type=checkbox] {
    border: 1px solid #ccc;
}

span.psw {
    float: right;
}

.button-group::after {
    content: "";
    clear: both;
    display: table;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inactive-button {
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 20px;
    margin-right: 20px;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 25px;
}

.inactive-button:hover {
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.button-group button.disable {
    background-color: #eaeaea;
    color: #555;
}


/*--------------------------------------------------------------- Trailer Page CSS starts -------------------------------------------------------*/

.page-header {
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
}

.trailers-list {
    display: flex;
}

.trailer-list-item {
    width: 70%;
    height: fit-content;
}

.trailer-list-item-side {
    width: 30%;
    height: fit-content;
}

.trailer-list-item-side {
    padding: 50px 10px;
}

.trailer-list-item-side h3 {
    padding: 5px 10px
}

.other-movie-list {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}

.other-movie-list p {
    font-weight: 700;
    font-size: 16px;
    padding: 1px 10px;
    margin: 0px;
    text-align: left;
}


/* ------------------------------------------------ Show_timings CSS Starts ----------------------------------------------------*/

.show_timings-container {
    margin-bottom: 5em;
    margin-top: 3em;
}

main .show_timings-container {
    border: 1px solid #000;
    padding: 1em 2em;
    border-radius: 20px;
}

main .show-details-container {
    border: 1px solid #000;
    padding: 2em 0em;
    border-radius: 20px;
    margin-bottom: 2em;
}

.show-list-container {
    height: 20em;
    display: flex;
    justify-content: space-around;
}

.show-list-container img {
    display: inline-block;
    padding-top: 1em;
    height: 100%;
}

.show_timings-container,
.show-details-container {
    width: 70%;
    margin: 3em auto;
}

.movie-title p {
    font-size: 18px;
    font-weight: 800;
}

.movie-info {
    list-style-type: none;
    font-size: 18px;
}

.movie-info ul,
.movie-info ol {
    padding-left: 0em;
}

.movie-image {
    float: left;
    height: 95%;
}

.movie-details {
    float: right;
}

input[type=date] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
}

.movie-detail-synopsis li {
    list-style-type: none;
    font-style: italic;
    border-top: 1px solid #000;
    padding: 5px;
}

.movie-detail-synopsis {
    margin-top: 1em;
}


/*-------------------------------------------------------- index.html Home Page CSS starts -------------------------------------------------------------*/

.now-playing-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    margin: 20px 20px;
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.content {
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 8px;
}

.content-text {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 10px auto;
}

.content p {
    color: black;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}

.content a {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: block;
    border-radius: 8px;
}

.content a:hover {
    text-decoration: none;
    opacity: 0.8;
}

main h1 {
    margin-top: 20px;
    color: #000;
}

.slider {
    height: 100%;
    width: 100%;
}

.slider img {
    max-width: 100%;
    height: 350px;
    width: 100%;
    border-radius: 20px;
}

.offer {
    background-color: #000;
    text-align: center;
    margin: 30px auto;
    border-radius: 8px;
    padding: 1px;
}

.offer h2 {
    color: white;
}

.movie-news-card {
    width: 300px;
    border-radius: 8px;
    margin: 20px;
}

.movie-news-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.content2 {
    padding: 4px 4px 4px 4px;
}

.content2 p {
    font-size: 18px;
    font-weight: 700;
    color: black;
}


/*----------------------------------------------------- Contact Us Page CSS starts ------------------------------------------------------*/

.contact-form-div {
    width: 60%;
    padding: 20px;
}

#contact-form-h1 {
    text-align: center;
    margin: 0px auto 20px auto;
}

.contact-form {
    max-width: 95%;
    margin: auto;
    padding: 0 10px;
}

.contact-form-text {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 20px;
}

.contact-form-text:hover {
    box-shadow: 0 0 15px 2px black;
}

#contact-form-ta {
    resize: none;
    height: 100px;
}

.map-div {
    width: 60%;
    margin: 0px auto;
}

.map {
    width: 100%;
    height: 100%;
}

.outer-div {
    display: flex;
    width: 85%;
    margin: 0px auto;
}

.operations-table {
    border-collapse: collapse;
    width: 50%;
    margin: 40px auto;
    border: 1px solid #dddddd;
}

.operations-table td,
.operations-table th {
    padding: 8px;
    text-align: center;
}

.operations-table th {
    text-align: center;
    background-color: #000;
    color: white;
}

caption {
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    padding: 1em;
}

th,
td {
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

#progressBar {
    width: 98%;
}

#progressBar::-webkit-progress-value {
    background-color: #4CAF50;
    border-radius: 5px;
}

#progressBar ::-webkit-progress-value {
    background-color: #4CAF50;
}

#progressBar::-moz-progress-bar {
    background-color: #4CAF50;
}


/* -------------------------------------------------Booking Page CSS Starts Here---------------------------------------------------------- */

.screen {
    width: 100%;
    height: 20px;
    background-color: #4388cc;
    color: #fff;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.smallBox::before {
    content: "";
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
}

.greenBox::before {
    content: "";
    background: Green;
}

.redBox::before {
    content: "";
    background: Red;
}

.emptyBox::before {
    content: "";
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color: #ccc;
}

.seats {
    border: 1px solid red;
    background: yellow;
}

.seatGap {
    width: 40px;
}

.seatVGap {
    height: 40px;
}

.seatStructure table {
    text-align: center;
    width: 100%;
}

.displaytable {
    text-align: center;
}

.displaytable td,
.displaytable th {
    text-align: left;
    display: block;
}

input[type=checkbox] {
    width: 0px;
    margin-right: 18px;
}

input[type=checkbox]:before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color: #ccc;
}

input[type=checkbox]:checked:before {
    background-color: Green;
    font-size: 15px;
}

.billing-details {
    color: #000;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

.info-display {
    font-style: italic;
    line-height: 2.8;
    letter-spacing: 0.25px;
    font-weight: bold;
}

.info-result {
    display: inline-block;
    text-transform: uppercase;
}

#billing-section {
    display: none;
}

.payment-button {
    color: red;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 20px;
}

.payment-button:hover {
    color: #fff;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid red;
    background-color: red;
}

#seatsBlock tbody tr td {
    border: none;
}

.check {
    display: table-cell;
}

.mobile-only {
    display: none;
}


/* ------------------------------------------------------- About US page CSS starts ------------------------------------------------------- */

.container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.mission,
.offer,
.contact_us {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.mission h2,
.what-we-offer h2,
.contact-us-block h2 {
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 0px;
}

.what-we-offer ul {
    padding-left: 4%;
}

.mission-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.mission-block div {
    max-width: 70%;
}

.mission-block div p {
    line-height: 2;
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
}

.mission-block div img {
    max-width: 40%;
    margin: 0px auto;
    display: block;
}

.what-we-offer li {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.25px;
}

.contact-us-block p {
    font-size: 18px;
    letter-spacing: 0.25px;
    padding: 0% 1%;
}


/*------------------------------------------------------------ Terms and Conditions Page ---------------------------------------------------*/

.terms-para {
    letter-spacing: 0.25px;
    font-size: 16px;
}

.t-c-list {
    line-height: 1.4;
}

.t-c-list li {
    margin: 15px auto;
}


/*---------------------------------------------------------------- Upcoming movies page --------------------------------------------------*/

main #up-coming {
    width: 100%;
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.in-up-coming {
    padding: 30px 10px;
    text-align: center;
    margin-bottom: 10px;
}

.in-up-coming {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: groove;
}

.up-coming hr {
    color: #000;
}

main .in-up-coming .name {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 24px;
}

main .in-up-coming input {
    display: inline;
    width: min-content;
}

.up-coming-details {
    text-align: left;
    padding: 25px;
    width: 70%;
}


/* ---------------------------------------- Profile Page------------------------------------------- */

#profile-container {
    display: flex;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile-photo {
    padding: 20px;
}

#profile-details {
    flex: 2;
    padding: 20px;
}

img {
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: -webkit-fill-available;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.mobileNav-specific {
    display: none;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------Styles for Mobile Layout ------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@media all and (min-width:320px) and (max-width:480px) {
    /* Show Timings Page */
    .ls-page-mobile-tablet {
        display: block;
    }
    .mobile-only {
        display: block;
    }
    .check {
        display: none;
    }
    .main-container {
        width: 85% !important;
        padding: 0.5em !important;
    }
    .show_timings-container,
    .show-details-container {
        width: 85% !important;
        margin: 2em auto !important;
        padding: 10px !important;
    }
    .show_timings-container h1 {
        font-size: 22px;
    }
    .show-list-container {
        height: fit-content !important;
    }
    .show-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movie-details {
        text-align: center;
    }
    .movie-info {
        font-size: 14px !important;
    }
    .movie-detail-synopsis li ul {
        text-align: center;
        padding: 1px;
        font-size: 14px;
    }
    .movie-detail-synopsis li {
        padding: 1em;
    }
    /* Trailers Page */
    .trailers-list {
        display: flex;
        flex-direction: column;
    }
    .trailer-list-item {
        width: 100%;
    }
    .trailer-list-item-side {
        width: 100%;
        padding: 0px;
    }
    .trailer-list-item-side h3 {
        padding: 0px;
    }
    .other-movie-list {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;
    }
    video {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    /* Home Page */
    .card {
        width: 75%;
    }
    .offer {
        width: 90%;
    }
    .content2 p {
        text-align: center;
    }
    /* Contact Us Page */
    .outer-div {
        display: flex;
        width: 90%;
        margin: 0px auto;
        flex-wrap: wrap;
    }
    .map-div {
        width: 100% !important;
        margin: 0px auto;
    }
    .contact-form-div {
        width: 100% !important;
        padding: 20px 3px !important;
        margin-top: 1em;
    }
    #hours-of-operation-h1 {
        text-align: center;
        margin-top: 1em !important;
    }
    .operations-table {
        width: 90% !important;
    }
    /*About US CSS*/
    .mission-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .mission-block div {
        max-width: 95% !important;
    }
    .mission-block div p {
        font-size: 16px;
        margin-top: 20px;
    }
    .what-we-offer ul {
        padding-left: 10%;
    }
    .what-we-offer li {
        font-size: 16px;
    }
    .contact-us-block p {
        font-size: 16px;
        padding: 1% 5%;
        word-break: break-all;
    }
    .call-button a {
        background-color: #000;
        color: #fff;
        font-weight: bold;
        padding: 15px;
        border-radius: 25px;
        text-decoration: none;
        touch-action: manipulation;
    }
    .desktop-only {
        display: none;
    }
    /* Upcoming movies */
    .in-up-coming {
        display: flex;
        flex-direction: column;
    }
    .up-coming-details {
        text-align: center;
        width: 90%;
        word-break: break-word;
    }
    #in-up {
        display: flex;
        flex-direction: column-reverse;
    }
    #profile-container {
        width: 100%;
        align-items: stretch;
        flex-direction: column;
    }
    button {
        margin-bottom: 0.5rem;
    }
    .mobileNav-specific {
        display: block;
    }
}


/* ---------------------------------------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------Styles for Tablet Layout ----------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@media all and (min-width:481px) and (max-width:768px) {
    /* Show Timings */
    .main-container {
        width: 85% !important;
    }
    .show_timings-container,
    .show-details-container {
        width: 85% !important;
        margin: 2em auto !important;
        padding: 10px !important;
    }
    .show_timings-container h1 {
        font-size: 22px;
    }
    .show-list-container {
        height: fit-content !important;
    }
    .show-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movie-details {
        text-align: center;
    }
    .movie-detail-synopsis li ul {
        text-align: center;
        padding: 1px;
    }
    .movie-detail-synopsis li {
        padding: 1em;
    }
    /* Trailers Page */
    .trailers-list {
        display: flex;
        flex-direction: column;
    }
    .trailer-list-item {
        width: 100%;
    }
    .trailer-list-item-side {
        width: 100%;
        padding: 0px;
    }
    .other-movie-list {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;
    }
    /* Contact Us page */
    .outer-div {
        display: flex;
        width: 90%;
        margin: 0px auto;
        flex-wrap: wrap;
    }
    .map-div {
        width: 100% !important;
        margin: 0px auto;
    }
    .contact-form-div {
        width: 100% !important;
        padding: 20px 3px !important;
        margin-top: 1em;
    }
    #hours-of-operation-h1 {
        text-align: center;
        margin-top: 1em !important;
    }
    .operations-table {
        width: 90% !important;
    }
    .mobile-only {
        display: block;
    }
    .check {
        display: none;
    }
    /* About US page */
    .mission-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .mission-block div {
        max-width: 95% !important;
    }
    .mission-block div img {
        max-width: 30%;
    }
    .mission-block div p {
        margin-top: 20px;
    }
    .what-we-offer ul {
        padding-left: 6%;
    }
    .contact-us-block p {
        font-size: 18px;
        letter-spacing: 0.25px;
        padding: 0% 3%;
    }
    /* Upcoming movies */
    .in-up-coming {
        display: flex;
        flex-direction: column;
    }
    .up-coming-details {
        text-align: center;
        width: 90%;
    }
    #in-up {
        display: flex;
        flex-direction: column-reverse;
    }
    .mobileNav-specific {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}

@media only screen and (max-width:768px) and (orientation: landscape) {
    /* Show Timings */
    .main-container {
        width: 85% !important;
    }
    .show_timings-container,
    .show-details-container {
        width: 85% !important;
        margin: 2em auto !important;
        padding: 10px !important;
    }
    .show_timings-container h1 {
        font-size: 22px;
    }
    .show-list-container {
        height: fit-content !important;
    }
    .show-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movie-details {
        text-align: center;
    }
    .movie-detail-synopsis li ul {
        text-align: center;
        padding: 1px;
    }
    .movie-detail-synopsis li {
        padding: 1em;
    }
    /* Trailers Page */
    .trailers-list {
        display: flex;
        flex-direction: column;
    }
    .trailer-list-item {
        width: 100%;
    }
    .trailer-list-item-side {
        width: 100%;
        padding: 0px;
    }
    .other-movie-list {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;
    }
    /* Contact Us page */
    .outer-div {
        display: flex;
        width: 90%;
        margin: 0px auto;
        flex-wrap: wrap;
    }
    .map-div {
        width: 100% !important;
        margin: 0px auto;
    }
    .contact-form-div {
        width: 100% !important;
        padding: 20px 3px !important;
        margin-top: 1em;
    }
    #hours-of-operation-h1 {
        text-align: center;
        margin-top: 1em !important;
    }
    .operations-table {
        width: 90% !important;
    }
    .mobile-only {
        display: block;
    }
    .check {
        display: none;
    }
    /* About US page */
    .mission-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .mission-block div {
        max-width: 95% !important;
    }
    .mission-block div img {
        max-width: 30%;
    }
    .mission-block div p {
        margin-top: 20px;
    }
    .what-we-offer ul {
        padding-left: 6%;
    }
    .contact-us-block p {
        font-size: 18px;
        letter-spacing: 0.25px;
        padding: 0% 3%;
    }
    /* Upcoming movies */
    .in-up-coming {
        display: flex;
        flex-direction: column;
    }
    .up-coming-details {
        text-align: center;
        width: 90%;
    }
    #in-up {
        display: flex;
        flex-direction: column-reverse;
    }
    .mobileNav-specific {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}